//Basic colors
$DeepPurple: #5736b8;
$LightSilver: #e8effc;
$LightGrey: #9b9db1;
$White: #ffffff;
$Black: #000000;

//Role colors
$accentColor: $DeepPurple;
$bgColor: linear-gradient(297.24deg, $LightSilver 8.25%, $White 91.76%);
$mainTextColor: $DeepPurple;
$subTextColor: $LightGrey;
$ticketBgColor: $White;
$ticketBorderColor: $Black;
$ticketEdgeBg: $White;
